// Globals
$body-font-family: 'Oswald', sans-serif;
$heading-font-family: 'Poppins', sans-serif;
$border-radius-root: 6px;
$font-size-root: 16px;

// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: (
  'small': 20
);
$btn-sizes: (
  'default': 41,
  'large': 54
);